{% extends "review/base.html" %}

{% load adm_media %}

{% block extra-title-bar %}ข้อมูลผู้สมัคร | {% endblock %}

{% block regis-body %}
  <b>ผู้สมัคร:</b> {{ applicant.full_name }} | 
  <b>หมายเลขประชาชน:</b> {{ applicant.national_id }} | 
  <b>ยื่นเมื่อ:</b> {{ submission_info.submitted_at|date }} |
  {% if submission_info.is_paid %}<b>ชำระเงินแล้ว</b>{% else %}<b>ยังไม่ได้ชำระเงิน</b>{% endif %}<br/>

  <hr/>
  <b>อันดับการเลือก:</b>
  {% with applicant.preference as preference %}
    {% for m in preference.get_major_list %}
      {{ forloop.counter }}. {{ m.number }} {{ m.name }}&nbsp;&nbsp;&nbsp;
    {% endfor %}
  {% endwith %}
  <hr/>
  <table>
    <tr>
      <td style="border-right: 1px solid gray; padding-right: 20px">
	<b>ผลการคัดเลือก</b>
	<ul>
	  {% for r in admission_results %}
 	    <li>
	      รอบที่ {{ r.round_number }}:
	      {% if r.is_admitted %}
	        ติดสาขา {{ r.admitted_major }}
	      {% else %}
	        ไม่ผ่านการคัดเลือก
	      {% endif %}
	    </li>
	  {% empty %}
	    <li>ไม่ผ่านการคัดเลือก</li>
	  {% endfor %}
	</ul>
      </td>
      <td>
	<b>การยืนยันสิทธิ์</b>
	<ul>
	  {% for c in confirmations %}
	    <li>
	      รอบที่ {{ c.round_number }} 
	      ชำระเงิน {{ c.paid_amount }} บาท 
	      ได้รับข้อมูลวันที่ {{ c.confirmed_at|date:"d F"}}
	    </li>
          {% empty %}
	    <li>ยังไม่เคยยืนยัน</li>
	  {% endfor %}
	</ul>
      </td>
    </tr>
  </table>
  <hr/>
  {% include "application/status/include/exam_scores.html" %}
{% endblock %}
