.front-body {
  width: 920px;
  margin-left: auto;
  margin-right: auto; }
  .front-body p#intro {
    font-size: 20px;
    padding-left: 50px; }
  .front-body h1 {
    background: #2f0000;
    color: white;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .front-body h2 {
    font-size: 120%; }
  .front-body ul#methods {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc; }

table.schedule {
  font-size: 90%;
  border-collapse: collapse; }
  table.schedule td {
    border: 1px solid grey; }
  table.schedule td.date {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px; }

.right-box {
  margin-left: 20px;
  width: 40%;
  float: right; }

.login-box {
  padding: 10px;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #e0ffe0; }

a.in-button {
  text-decoration: none; }
  a.in-button:visited {
    text-decoration: none; }
  a.in-button:hover {
    text-decoration: none; }

div.button {
  background: green;
  color: white;
  text-align: center;
  margin: 2px;
  font-weight: bold;
  font-size: 120%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px double gray;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px; }
  div.button:hover {
    background: #10a010; }
  div.button img {
    vertical-align: middle;
    border: none; }

.button.medium {
  width: 60%; }

div.button-blue {
  background: green;
  color: white;
  text-align: center;
  margin: 2px;
  font-weight: bold;
  font-size: 120%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px double gray;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  background: darkblue;
  border: 1px double black; }
  div.button-blue:hover {
    background: #10a010; }
  div.button-blue img {
    vertical-align: middle;
    border: none; }
  div.button-blue:hover {
    background: #2020b0; }

div.button-blue.medium {
  width: 60%; }

#reg-button {
  padding-left: 45px; }

.big {
  padding-top: 10px;
  padding-bottom: 10px; }

div.selected {
  background: #009900; }

ul#methods li.tab {
  display: inline;
  float: left;
  margin: 10px;
  padding: 0;
  background: #b0ffd0;
  width: 250px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  ul#methods li.tab h2 {
    margin: 0;
    background: #206050;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-radius: 10px; }
  ul#methods li.tab p {
    color: #206050;
    padding-left: 10px;
    padding-right: 10px; }

#browser-notice {
  padding: 15px;
  font-size: 80%;
  text-align: center; }
