.title-bar h1 {
  height: 20px;
  font-size: 100%;
  overflow: hidden; }

.admin-bar {
  text-align: center;
  background: #2f0000;
  color: white;
  font-weight: bold;
  font-size: 50%;
  height: 10px; }

.admin-menu {
  border: 1px solid gray;
  font-size: 80%; }
  .admin-menu ul {
    margin: 0px;
    padding: 0px; }
  .admin-menu li {
    display: block;
    float: left;
    padding-left: 10px; }

.help-text {
  font-size: 80%; }

table.applicants {
  font-size: 90%;
  border-collapse: collapse; }
  table.applicants th {
    border: 1px solid black;
    background: #000040;
    color: lightgray; }
  table.applicants tr.odd {
    background: white; }
  table.applicants tr.even {
    background: #e0e0e0; }
  table.applicants tr.confirmed.odd {
    background: #e0ffe0; }
  table.applicants tr.confirmed.even {
    background: #d0ffd0; }
  table.applicants td {
    border: 1px solid black;
    vertical-align: top; }

#doc-preview {
  font-size: 90%;
  border: 1px solid gray;
  height: 200px;
  overflow: scroll; }
  #doc-preview h2 {
    font-size: 100%;
    margin: 0; }
    #doc-preview h2 a {
      color: #f0f0f0; }
  #doc-preview .section {
    line-height: 120%; }

.search-form {
  margin: 2px 0 2px 0;
  border: 1px solid gray;
  background: #f0fff0; }
  .search-form #id_verification_number {
    width: 100px; }
  .search-form #id_ticket_number {
    width: 100px; }
