<div class="light-frame">
<p>
  <b>ได้รับคัดเลือกแล้วทำอย่างไรต่อ?</b> สำหรับรายละเอียดภาพรวมของขั้นตอนการดำเนินการต่อไป<a target="_blank" href="http://admission.eng.ku.ac.th/information/2554/direct/how-to-accepted">สามารถอ่านรายละเอียดได้ที่นี่</a>
</p>

<p>
  {% if is_last_round %}
    ในขั้นตอนต่อไปให้คุณแสดงความต้องการเข้าศึกษาต่อในสาขาดังกล่าวหรือขอสละสิทธิ์
  {% else %}
    ในขั้นตอนต่อไปให้คุณแสดงความต้องการเข้าศึกษาต่อในสาขาดังกล่าวหรือสาขาอื่นที่สูงขึ้น
    &nbsp;&nbsp;&nbsp; ถ้าคุณต้องการเข้าศึกษาในสาขานี้
    หรือต้องการได้รับการพิจารณาเข้าศึกษาต่อในรอบถัด ๆ ไป
  {% endif %}
  <b>คุณจะต้องยืนยันสิทธิ์โดยการชำระเงินค่าลงทะเบียนในภาคการศึกษาต้น ภายในวันที่ {{ current_round.last_date|date:"d F" }} 2554 ไม่เช่นนั้นเราจะถือว่าคุณสละสิทธิ์</b>
</p>

<center>
  {% if is_confirmation_time_left %}
    <a href="{% url confirmation-pref %}">
      <div class="button medium">
        เข้าสู่ระบบยืนยันสิทธิ์ {% if not is_last_round %}เพื่อเลือกสาขาที่เข้ารับพิจารณา{% endif %}
      </div>
    </a>
  {% else %}
    <b>เวลายืนยันสิทธิ์ในรอบนี้หมดแล้ว</b>
  {% endif %}
</center>

<p>
  {% if not is_last_round %}เมื่อคุณเลือกสาขาด้านบนแล้ว{% else %}เมื่อคุณได้เลือกยืนยันแล้ว{% endif %} ระบบจะแสดงลิงก์เพื่อพิมพ์ใบสำหรับชำระเงินธนาคารต่อไป  
  <b>เมื่อจัดการยืนยันสิทธิ์เรียบร้อยแล้วอย่าลืมกรอกข้อมูลเพื่อขึ้นทะเบียนเป็นนิสิตด้วย</b>
</p>

</div>
