<a id="id_status-show-button" class="in-button" href="{% url status-show %}">
  <div class="menu-item">
    ตรวจสอบข้อมูลในใบสมัคร
  </div>
</a>

<a id="id_status-show-score" class="in-button" href="{% url status-show-score %}">
  <div class="menu-item">
    ผลคะแนน
  </div>
</a>

  {% comment %}

  <div class="small-vert-sept"></div>
  <a id="id_payin-button" class="in-button" href="{% url apply-ticket %}?{{ random_seed }}" target="_blank">
    <div class="button">
      พิมพ์ใบชำระเงินค่าสมัครเพื่อชำระเงินที่ธนาคาร
    </div>
  </a>
  <div class="small-vert-sept"></div>
  <a class="in-button" href="{% url update-personal-info %}">
    <div class="button">
      แก้ข้อมูลส่วนตัว
    </div>
  </a>
  <div class="small-vert-sept"></div>
  <a class="in-button" href="{% url update-education %}">
    <div class="button">
      แก้ข้อมูลการศึกษา
    </div>
  </a>
  <div class="small-vert-sept"></div>
  <a class="in-button" href="{% url update-address %}">
    <div class="button">
      แก้ข้อมูลที่อยู่
    </div>
  </a>
  <center><small>สามารถแก้ข้อมูลต่าง ๆ ได้จนถึงวันที่ปิดรับสมัคร</small></center>
  <div class="small-vert-sept"></div>
  <a id="id_majors-update-button" class="in-button" href="{% url update-majors %}">
    <div class="button">
      แก้ไขอันดับสาขาวิชา
    </div>
  </a>
  <center><small>สามารถแก้อันดับสาขาวิชาได้จนถึงวันที่ 31 ธ.ค. 2553</small></center>

  {% endcomment %}

