<table class="two-columns">
  <tr>
    <td>
      <div class="field-group">
	<h2>ที่อยู่ตามทะเบียนบ้าน</h2>
	{% with home_address_form as form %}
          {% include "application/address_form.html" %}
	{% endwith %}
      </div>
    </td><td>
      <div class="field-group">
	<h2>สถานที่ติดต่อได้ทางไปรษณีย์
	  <button id="address-copy">
	    เหมือนกับทะเบียนบ้าน
	  </button>
	</h2>
	{% with contact_address_form as form %}
          {% include "application/address_form.html" %}
 	{% endwith %}
      </div>
    </td>
  </tr>
</table>
<script>
  $("#address-copy").click(function (e) {
    items = ['number', 'village_number', 'village_name',
             'road', 'district', 'city', 'province',
             'postal_code', 'phone_number'];
    jQuery.each(items, function () {
      $("#id_contact-" + this).val($("#id_home-" + this).val());
    });
    return false;
  });
</script>
