{% if form.errors %}
<div class="doc-error">
  ไม่สามารถจัดเก็บข้อมูลได้เนื่องจากมีข้อผิดพลาด
  {{ form.non_field_errors }}
</div>
{% endif %}
<div id="edu-gen-info">
  <h2>ข้อมูลทั่วไป</h2>
  <table class="header-left">
    {% if not accept_only_graduated %}
      <tr>
	<th>{{ form.has_graduated.label_tag }}:</th>
	<td>{{ form.has_graduated }}</td>
	<td>{{ form.has_graduated.errors }}</td>
      </tr>
    {% endif %}
    <tr>
      <th>{{ form.school_name.label_tag }}:</th>
      <td>{{ form.school_name }}</td>
      <td>{{ form.school_name.errors }}</td>
    </tr>
    <tr>
      <th>{{ form.school_city.label_tag }}:</th>
      <td>{{ form.school_city }}</td>
      <td>{{ form.school_city.errors }}</td>
    </tr>
    <tr>
      <th>{{ form.school_province.label_tag }}:</th>
      <td>{{ form.school_province }}</td>
      <td>{{ form.school_province.errors }}</td>
    </tr>
  </table>
</div>
<div id="edu-gen-info">
  <h2>ชื่ออื่นในการสอบ</h2>
  <table class="header-left">
    <tr>
      <th>ชื่อ-นามสกุลอื่น:</th>
      <td>{{ form.alt_name }} <small>(ไม่จำเป็นต้องระบุ)</small></td>
      <td>{{ form.alt_name.errors }}</td>
    </tr>  
    <tr>
      <th></th>
      <td>
	<span class="hint"> ถ้าคุณใช้ชื่อ-นามสกุลอื่นในการสอบ GAT/PAT
	  เช่นในกรณีที่มีการเปลี่ยนชื่อ กรุณาระบุที่นี่ด้วย
	  เพื่อลดความผิดพลาดในการเรียกค้นคะแนน
	</span>
      </td>
      <td></td>
    </tr>
  </table>
</div>
<script>
  var graduated_only = {% if accept_only_graduated %}true{% else %}false{% endif %};
  function allowOnlyGATPAT() {
    $("#id_uses_gat_score").val('True');
    $("#score-type-selection").hide();
  }
  function allowAllScoreType() {
    $("#score-type-selection").show();
  }
  function showGATPAT() {
    $("#edu-score-box #gatpat").show();
    $("#edu-score-box #anet").hide();
  }
  function showANET() {
    $("#edu-score-box #anet").show();
    $("#edu-score-box #gatpat").hide();
  }
  function updateScoreFields() {
    if($("#id_uses_gat_score").val()=='True')
      showGATPAT();
    else
      showANET();
  }
  function updateScoreSelectionField() {
    if(graduated_only || ($("#id_has_graduated").val() == 'True')) {
      allowAllScoreType();
    } else {
      allowOnlyGATPAT();
      showGATPAT();
    }
  }
  $(document).ready(function() {
    updateScoreSelectionField();
    updateScoreFields();
    $("#id_has_graduated").change(function() {
      updateScoreSelectionField();
    });
    $("#id_uses_gat_score").change(function() {
      updateScoreFields();
    });
  });
</script>
