{% if not hide_description %}
<p>
  <b>เลือกอันดับสาขาที่ต้องการ</b> สามารถเลือกอันดับสาขาวิชาได้ {{ max_major_rank }} อันดับ
  ไม่จำเป็นต้องเลือกให้ครบ {{ max_major_rank }} อันดับ แต่ต้องเลือกอย่างน้อยหนึ่งอันดับ
  ถ้าเลือกอันดับไม่ต่อกัน เช่น เลือกข้ามลำดับที่ 2 เมื่อเก็บเข้าในระบบ
  ระบบจะปรับลำดับให้ต่อเนื่องกันและเริ่มต้นจากอันดับที่ 1 เสมอ
</p>
{% endif %}
<table>
  {% for major, selected_rank in majors_prefs %}
    <tr>
      <td>{{ major.number }}</td><td>{{ major.name }}</td>
      <td>
	{% include "application/include/major_rank_select.html" %}
      </td>
    </tr>
  {% endfor %}
</table>
<script>
  $(document).ready(function() {
    MajorSelection.maxRank = {{ max_major_rank }};
    $("select").change(function() {
      if($(this).val()!="--")
        MajorSelection.shiftSelection(Number($(this).val()), this);
    });
  });
</script>
