{% if applicant.is_submitted %}
  <h2>ข้อมูลการสมัคร</h2>
  <div class="section">
    <table width="100%">
      <tr>
	<td>
	  <b>หมายเลขประจำตัว:</b> {{ applicant.ticket_number }}
	</td><td>
	  <b>รหัสเพื่อตรวจสอบ:</b> <small>{{ applicant.verification_number }}</small>
	</td>
      </tr>
    </table>
  </div>
{% endif %}

<h2>ข้อมูลส่วนตัว</h2>
<div class="section">
  {% include "application/include/applicant_personal.html" %}
</div>

<h2>ที่อยู่</h2>
<div class="section">
  {% include "application/include/applicant_address.html" %}
</div>

<h2>ข้อมูลการศึกษา</h2>
<div class="section">
  {% include "application/include/applicant_edu.html" %}
</div>

<h2>อันดับสาขาวิชา</h2>
<div class="section">
  {% include "application/include/applicant_ranks.html" %}
</div>
