<p>
  <h2>ขั้นตอนการสมัคร</h2>
  <small>
    <ul>
      <li>
	ผู้สมัครจะต้องลงทะเบียนเข้าใช้ระบบเพื่อรับรหัสผ่านทางอีเมล์ เพื่อเข้าใช้ระบบ
	จากนั้นผู้สมัครจะต้องป้อนข้อมูลในใบสมัครจนครบถ้วน ซึ่งข้อมูลเหล่านี้จะรวมถึงที่อยู่
	ผลการเรียนและความต้องการสมัครสาขาวิชา
      </li>
      <li>
        เมื่อป้อนข้อมูลเสร็จ ผู้ใช้จะต้องตรวจสอบความถูกต้องของข้อมูล
        และกดยอมรับระเบียบและเงื่อนไขของการสมัคร
      </li>
      <li>
	ในการใช้ระบบนี้ อีเมล์และรหัสประจำตัวประชาชน
	จะเป็นเครื่องมือหลักในการยืนยันตัวของผู้สมัคร
	ดังนั้นจึงควรรักษารหัสผ่านอีเมล์ของตนอย่างดี</b>
      </li>
      <li>
	สำหรับผู้สมัครที่ได้ชำระเงินทางธนาคารไปก่อนหน้านี้แล้ว <b>ไม่ต้องชำระค่าสมัครใหม่</b>
	ถ้าผู้สมัครได้ส่งหลักฐานมาแล้ว
	ทางโครงการจะปรับข้อมูลการชำระเงินให้โดยอัตโนมัติ
	ถ้าผู้ใช้ไม่ได้ส่งหลักฐานมาทางไปรษณีย์ให้เตรียมหลักฐานมาในวันสัมภาษณ์
      </li>
      <li>
	<b>ระบบรับสมัครนี้สำหรับการสมัครเข้าศึกษาผ่านทางระบบโควตาพิเศษเท่านั้น
	สำหรับการสมัครเข้าศึกษาต่อในโครงการรับตรงจะต้องเข้าใช้งานผ่านระบบรับสมัครอีกระบบหนึ่ง
	ซึ่งจะเปิดให้ใช้งานวันที่ 1 ก.พ. 2555
	ถ้าผู้สมัครระบบโควตาต้องการสมัครระบบรับตรงด้วย จะต้องเข้าระบบการรับสมัครตรงอีกครั้งหนึ่ง</b>
      </li>
    </ul>
  </small>
  <h2>กำหนดการรับสมัคร</h2>
  <table class="schedule">
    <tr>
      <td class="date">
	23 ม.ค. - 1 ก.พ.
      </td>
      <td>
	รับสมัครผ่านเว็บไซต์
      </td>
    </tr>
    <tr>
      <td class="date">
	2 ก.พ.
      </td>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์ทางเว็บไซต์</td>
    </tr>
    <tr>
      <td class="date">
	5 ก.พ.
      </td>
      <td>
	สอบสัมภาษณ์ที่คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ พร้อมยื่นหลักฐานการสมัคร
      </td>
    </tr>
    <tr>
      <td class="date">
	6 ก.พ.
      </td>
      <td>
	ประกาศผลการคัดเลือกทางเว็บไซต์
      </td>
    </tr>
    <tr>
      <td class="date">
	18 - 19 ก.พ. 
      </td>
      <td>
	ผู้ผ่านการคัดเลือกยืนยันสิทธิ์เข้าศึกษาในคณะวิศวกรรมศาสตร์
	มหาวิทยาลัยเกษตรศาสตร์ ผ่านระบบออนไลน์
      </td>
    </tr>
    <tr>
      <td class="date">
	แจ้งภายหลัง
      </td>
      <td>
	ผู้ผ่านการคัดเลือกเข้ารายงานตัวและตรวจเอกสารสำคัญ พร้อมรับเอกสารมอบตัว
      </td>
    </tr>
  </table>
  
  <br/>
  อ่าน<a href="http://admission.eng.ku.ac.th/2555/admission/quota/ipst-posn">ข้อมูลเพิ่มเติมเกี่ยวกับการรับสมัครผ่านทางระบบโควตาปีการศึกษา 2555</a>
</p>
