<p>
  <h2>ขั้นตอนการสมัคร</h2>
  <small>
    <ul>
      <li>
	ผู้สมัครจะต้องลงทะเบียนเข้าใช้ระบบเพื่อรับรหัสผ่านทางอีเมล์ เพื่อเข้าใช้ระบบ
	จากนั้นผู้สมัครจะต้องป้อนข้อมูลในใบสมัครจนครบถ้วน ซึ่งข้อมูลเหล่านี้จะรวมถึงที่อยู่
	ผลการเรียนและความต้องการสมัครสาขาวิชา
      </li>
      <li>
        เมื่อป้อนข้อมูลเสร็จ ผู้ใช้จะต้องตรวจสอบความถูกต้องของข้อมูล
        และกดยอมรับระเบียบและเงื่อนไขของการสมัคร
      </li>
      <li>
	ในการใช้ระบบนี้ อีเมล์และรหัสประจำตัวประชาชน
	จะเป็นเครื่องมือหลักในการยืนยันตัวของผู้สมัคร
	ดังนั้นจึงควรรักษารหัสผ่านอีเมล์ของตนอย่างดี</b>
      </li>
      <li>
        <b>ในวันที่ 9 พ.ย. ผู้สมัครที่สมัครสมบูรณ์จะต้องเข้ารับการสัมภาษณ์ที่คณะวิศวกรรมศาสตร์ พร้อมด้วยหลักฐานตามที่ประกาศใน<a href="http://admission.eng.ku.ac.th/2556/admission/quota/ipst-posn">หน้าข้อมูลการรับสมัคร</a></b> &nbsp; นอกจากนี้สำหรับผู้ที่สมัครสาขาวิศวกรรมคอมพิวเตอร์หรือวิศวกรรมซอฟต์แวร์ มีข้อมูลเพิ่มเติมที่จะต้องส่งให้กับกรรมการสอบสัมภาษณ์ด้วย <a href="http://admission.eng.ku.ac.th/2556/admission/quota/ipst-posn/cpe-additional">อ่านรายละเอียดได้ที่นี่</a>
      </li>
      <li>
	<b>ระบบรับสมัครนี้สำหรับการสมัครเข้าศึกษาผ่านทางระบบโควตาสอวน. และสสวท. เท่านั้น
	สำหรับการสมัครเข้าศึกษาต่อในโครงการรับตรงจะต้องเข้าใช้งานผ่านระบบรับสมัครอีกระบบหนึ่ง
	ซึ่งจะเปิดให้ใช้งานวันที่ 12 พ.ย. 2555
	ถ้าผู้สมัครระบบโควตาต้องการสมัครระบบรับตรงด้วย
	จะต้องเข้าระบบการรับสมัครตรงอีกครั้งหนึ่ง</b>
      </li>
    </ul>
  </small>
  <h2>กำหนดการรับสมัคร</h2>
  <table class="schedule">
    <tr>
      <td class="date">
	29 ต.ค. - 5 พ.ย.
      </td>
      <td>
	รับสมัครผ่านเว็บไซต์
      </td>
    </tr>
    <tr>
      <td class="date">
	6 พ.ย.
      </td>
      <td>ประกาศรายชื่อผู้มีสิทธิ์สอบสัมภาษณ์ทางเว็บไซต์</td>
    </tr>
    <tr>
      <td class="date">
	9 พ.ย.
      </td>
      <td>
	สอบสัมภาษณ์ที่คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ พร้อมยื่นหลักฐานการสมัคร
      </td>
    </tr>
    <tr>
      <td class="date">
	12 พ.ย.
      </td>
      <td>
	ประกาศผลการคัดเลือกทางเว็บไซต์
      </td>
    </tr>
    <tr>
      <td class="date">
	13 - 14 พ.ย.
      </td>
      <td>
	ผู้ผ่านการคัดเลือกยืนยันสิทธิ์เข้าศึกษาในคณะวิศวกรรมศาสตร์
	มหาวิทยาลัยเกษตรศาสตร์ ผ่านระบบออนไลน์
      </td>
    </tr>
    <tr>
      <td class="date">
	แจ้งภายหลัง
      </td>
      <td>
	ผู้ผ่านการคัดเลือกเข้ารายงานตัวและตรวจเอกสารสำคัญ พร้อมรับเอกสารมอบตัว
      </td>
    </tr>
  </table>
  
  <br/>
  อ่าน<a href="http://admission.eng.ku.ac.th/2556/admission/quota/ipst-posn">ข้อมูลเพิ่มเติมเกี่ยวกับการรับสมัครผ่านทางระบบโควตาปีการศึกษา 2556</a>
</p>
