<p>
  <h2>ขั้นตอนการสมัคร</h2>
  <small>
    <ul>
      <li>
	ผู้สมัครจะต้องลงทะเบียนเข้าใช้ระบบเพื่อรับรหัสผ่านทางอีเมล์ เพื่อเข้าใช้ระบบ
	จากนั้นผู้สมัครจะต้องป้อนข้อมูลในใบสมัครจนครบถ้วน ซึ่งข้อมูลเหล่านี้จะรวมถึงที่อยู่
	ผลการเรียนและลำดับสาขาวิชา
      </li>
      <li>
	การกรอกใบสมัครไม่จำเป็นต้องกรอกให้เสร็จในครั้งเดียว
	สามารถทยอยกรอกได้
      </li>
      <li>
	ในการคำนวณคะแนนมาตรฐาน ระบบจะเลือกคะแนนสอบ GAT/PAT
	ในครั้งที่ทำให้ได้คะแนนสูงสุดโดยอัตโนมัติ
      </li>
      <li>
	อย่างไรก็ตาม ในการใช้ระบบนี้ อีเมล์และรหัสประจำตัวประชาชน
	จะเป็นเครื่องมือหลักในการยืนยันตัวของผู้สมัคร
	ดังนั้นจึงควรรักษารหัสผ่านอีเมล์ของตนอย่างดี
      </li>
    </ul>
  </small>
  <h2>กำหนดการรับสมัคร</h2>
  <table class="schedule">
    <tr>
      <td class="date">
	1 - 15 ก.พ.
      </td>
      <td>
	รับสมัครผ่านเว็บไซต์
      </td>
    </tr>
    <tr>
      <td class="date">
	17 ก.พ.
      </td>
      <td>ประกาศรายชื่อผู้มีสิทธิ์ได้รับคัดเลือกเข้าศึกษา</td>
    </tr>
    <tr>
      <td class="date">
	18 - 19 ก.พ.
      </td>
      <td>
	ผู้มีสิทธิ์ได้รับคัดเลือกเข้าศึกษาแจ้งความประสงค์ยืนยันสิทธิ์เข้าศึกษา
	(ผู้ที่ไม่ยืนยันสิทธิ์ภายในกำหนดถือว่าสละสิทธิ์)
      </td>
    </tr>
    <tr>
      <td class="date">
	24 ก.พ.
      </td>
      <td>
	ประกาศรายชื่อผู้มีสิทธิ์ได้รับคัดเลือกเข้าศึกษา รอบสำรอง
      </td>
    </tr>
    <tr>
      <td class="date">
	25 - 26 ก.พ. 
      </td>
      <td>
	ผู้มีสิทธิ์ได้รับคัดเลือกเข้าศึกษารอบสำรอง แจ้งความประสงค์ยืนยันสิทธิ์เข้าศึกษา
	(ผู้ที่ไม่ยืนยันสิทธิ์ภายในกำหนดถือว่าสละสิทธิ์)
      </td>
    </tr>
    <tr>
      <td class="date">
	ภายใน 27 ก.พ.
      </td>
      <td>
	ประกาศรายชื่อผู้ผ่านการคัดเลือกทั้งหมดที่ยืนยันสิทธิ์ในระบบ
      </td>
    </tr>
    <tr>
      <td class="date">
	ภายใน 5 มี.ค.
      </td>
      <td>
	สรุปรายชื่อส่งเข้าระบบรับตรงผ่านเคลียริงเฮาส์ (ของ สอท.)
      </td>
    </tr>
    <tr>
      <td class="date">
	แจ้งภายหลัง
      </td>
      <td>
	ผู้ผ่านการคัดเลือกเข้ารายงานตัวและตรวจเอกสารสำคัญ พร้อมรับเอกสารมอบตัว
      </td>
    </tr>
  </table>
  
  <br/>
  อ่าน<a href="http://admission.eng.ku.ac.th/2555/admission/direct">ข้อมูลเพิ่มเติมเกี่ยวกับการรับตรงปีการศึกษา 2555</a>
</p>
