    <p>
      <b>ข้อมูลส่วนตัว:</b>
      {{ form.english_first_name.label }}: {{ form.english_first_name }}
      {{ form.english_first_name.errors }}
      {{ form.english_last_name.label }}:  {{ form.english_last_name }}
      {{ form.english_last_name.errors }}<br/>
      เลข Passport (ถ้ามี): {{ form.passport_number }}
      {{ form.passport_number.errors }}
    </p>
    <p>
      {{ form.religion.label }}: {{ form.religion }} 
      {{ form.religion.errors }}
    </p>
    <p>
      {{ form.address_avenue.label }}: {{ form.address_avenue }} 
      {{ form.address_avenue.errors }}<br/>
      {{ form.birth_place.label }} (จังหวัด): {{ form.birth_place }} 
      {{ form.birth_place.errors }}<br/>
      {{ form.home_phone_number.label }}: {{ form.home_phone_number }}
      {{ form.home_phone_number.errors }}
      {{ form.cell_phone_number.label }}: {{ form.cell_phone_number }}
      {{ form.cell_phone_number.errors }}
    </p>
    <p>
      <b>ข้อมูลการศึกษา:</b>
      {{ form.school_type.label }}: {{ form.school_type }}
      {{ form.school_type.errors }} &nbsp;&nbsp;
      {{ form.GPA.label }} (เท่าที่ทราบขณะนี้): {{ form.GPA }}
      {{ form.GPA.errors }} &nbsp;&nbsp;
      <br/>
    </p>
    <p>
      <b>ข้อมูลบิดา:</b>
      คำนำหน้า {{ form.father_title }} 
      ชื่อ: {{ form.father_first_name }} {{ form.father_first_name.errors }}
      นามสกุล: {{ form.father_last_name }} {{ form.father_last_name.errors }}<br/>
      หมายเลขบัตรประจำตัวประชาชนบิดา: {{ form.father_national_id }} 
      {{ form.father_national_id.errors }}
      <small>ถ้าไม่มีหมายเลขบัตรประชาชนให้ใส่รหัสยืนยันตัวตนอื่น ๆ เช่นหมายเลขพาสปอร์ต</small>
    </p>
    <p>
      <b>ข้อมูลมารดา:</b>
      คำนำหน้า {{ form.mother_title }} 
      ชื่อ: {{ form.mother_first_name }} {{ form.mother_first_name.errors }}
      นามสกุล: {{ form.mother_last_name }} {{ form.mother_last_name.errors }}<br/>
      หมายเลขบัตรประจำตัวประชาชนมารดา: {{ form.mother_national_id }} 
      {{ form.mother_national_id.errors }}
      <small>ถ้าไม่มีหมายเลขบัตรประชาชนให้ใส่รหัสยืนยันตัวตนอื่น ๆ เช่นหมายเลขพาสปอร์ต</small>
    </p>
