<ul>
  <li>
    <b>ความละเอียด</b>
    ถ้าใช้การสแกนหลักฐานด้วยเครื่องสแกนเนอร์ ให้ใช้ความละเอียดประมาณ 100dpi หรือถ้าใช้แฟ้มที่ได้จากการถ่ายภาพด้วยกล้องดิจิทัลให้ใช้ความละเอียดประมาณ 1000 จุด x 1400 จุด (ถ้าเป็นเอกสารแนวตั้ง)  ในกรณีของรูปถ่ายให้ความละเอียดประมาณ 300 จุด x 400 จุด
  </li>
  <li>
    ในการส่งเอกสารออนไลน์ <b>ผู้สมัครไม่จำเป็นต้องรับรองสำเนาเพิ่มเติม</b>
    เพราะการใช้บัญชีผู้ใช้จากระบบในการส่งถือเป็นการยืนยันว่าผู้สมัครรับรองว่าเอกสารนั้น
    เป็นเอกสารที่ถูกต้องอยู่แล้ว อย่างไรก็ตาม ถ้าพบว่าเอกสารที่ส่งมานั้นไม่เป็นความจริง
    การสมัครนั้นก็จะเป็นโมฆะไป
  </li>
  <li>
    <b>ขนาดแฟ้ม</b>
    ระบบจะรับแฟ้มรูปภาพที่มีขนาดไม่เกิน 1MB  โดยรองรับแฟ้มนามสกุล .png, .jpg, และ .gif
  </li>
  <li>
    <b>โปรแกรมสำหรับปรับแต่งภาพ</b>
    ผู้สมัครสามารถใช้โปรแกรมรหัสเปิดเช่น <a href="http://www.getpaint.net/">Paint.NET</a> หรือโปรแกรมระดับมืออาชีพเช่น <a href="http://www.gimp.org/">GIMP</a>  หรือโปรแกรมแต่งภาพที่ทำงานบนเว็บได้ เช่น <a href="http://www.pixlr.com/">Pixlr</a> ในการปรับแต่งภาพ
  </li>
</ul>
