<div class="instruction-box">
  {% if instruction_info.after_submission_notice %}
    <h3 id="head-announcement" style="display:none">
      คุณได้ส่งใบสมัครออนไลน์เรียบร้อยแล้ว
    </h3>
  {% endif %}
  <p>
    คุณได้ส่งใบสมัครออนไลน์ และคณะได้ส่งจดหมายอิเล็กทรอนิกส์เพื่อยืนยันไปให้คุณแล้ว 
    อย่างไรก็ตาม การสมัครของคุณยังไม่สมบูรณ์จนกว่าคุณจะได้ชำระเงินค่าสมัคร
  </p>
  <small>
  <p>
    <b>ถ้าคุณได้ชำระเงินค่าสมัครผ่านทางการโอนก่อนหน้าที่จะมีระบบออนไลน์แล้ว
    คุณไม่ต้องดำเนินการชำระเงินซ้ำอีกครั้ง</b>
    ถ้าคุณได้ส่งหลักฐานมากับใบสมัครทางไปรษณีย์แล้ว
    ทางโครงการจะปรับสถานะการชำระเงินของคุณให้อัตโนมัติเมื่อเราพบว่าคุณกรอกใบสมัครเรียบร้อย
    ถ้าคุณไม่ได้ส่งหลักฐานมากับใบสมัคร หรือถ้ามีสำเนาของใบโอนเงิน
    ให้นำหลักฐานการโอนเงินมาด้วยในวันที่สัมภาษณ์
  </p>
  <p>
    ถ้าคุณยังไม่ได้ชำระเงินค่าสมัคร
    คุณจะต้องพิมพ์ใบชำระเงินเพื่อนำไปชำระค่าสมัครที่ธนาคารไทยพาณิชย์
    เมื่อทางคณะได้รับข้อมูลการชำระเงินแล้ว การสมัครของคุณจึงจะสมบูรณ์
    คุณจะต้องชำระเงินภายในวันที่ 1 ก.พ. 2555
  </p>
  <p>
    รายชื่อผู้มีสิทธิ์สัมภาษณ์จะประกาศวันที่ 2 ก.พ. 2555 และสัมภาษณ์ในวันที่ 5 ก.พ. 2555
  (<a href="http://admission.eng.ku.ac.th/2555/admission/quota/ipst-posn">ดูรายการหลักฐานที่ต้องเตรียมมาในวันสัมภาษณ์</a>)
  </p>
  </small>
  {% include "application/include/ticket_printing.html" %}
</div>
<script type="text/javascript">
  $(function() {
    $("#head-announcement").fadeIn("slow");
  });
</script>
