<div class="instruction-box">
  {% if instruction_info.after_submission_notice %}
    <h3 id="head-announcement" style="display:none">
      คุณได้ส่งใบสมัครออนไลน์เรียบร้อยแล้ว
    </h3>
  {% endif %}
  <p>
    คุณได้ส่งใบสมัครออนไลน์ และคณะได้ส่งจดหมายอิเล็กทรอนิกส์เพื่อยืนยันไปให้คุณแล้ว 
    อย่างไรก็ตาม การสมัครของคุณยังไม่สมบูรณ์จนกว่าคุณจะได้ชำระเงินค่าสมัคร
  </p>
  <small>
  <p>
    ถ้าคุณยังไม่ได้ชำระเงินค่าสมัคร
    คุณจะต้องพิมพ์ใบชำระเงินเพื่อนำไปชำระค่าสมัครที่ธนาคารไทยพาณิชย์
    เมื่อทางคณะได้รับข้อมูลการชำระเงินแล้ว การสมัครของคุณจึงจะสมบูรณ์
    คุณจะต้องชำระเงินภายในวันที่ 5 พ.ย. 2555
  </p>
  <p>
    รายชื่อผู้มีสิทธิ์สัมภาษณ์จะประกาศวันที่ 6 พ.ย. 2555 และสัมภาษณ์ในวันที่ 9 พ.ย. 2555
  </p>
  </small>
  {% include "application/include/ticket_printing.html" %}
</div>
<script type="text/javascript">
  $(function() {
    $("#head-announcement").fadeIn("slow");
  });
</script>
