<div class="instruction-box">
  {% if instruction_info.after_submission_notice %}
    <h3 id="head-announcement" style="display:none">
      คุณได้ส่งใบสมัครออนไลน์เรียบร้อยแล้ว
    </h3>
  {% endif %}
  <p>
    คุณได้ส่งใบสมัครออนไลน์ และคณะได้ส่งจดหมายอิเล็กทรอนิกส์เพื่อยืนยันไปให้คุณแล้ว 
    อย่างไรก็ตาม การสมัครของคุณยังไม่สมบูรณ์จนกว่าคุณจะได้ชำระเงินค่าสมัคร
  </p>
  <p>
    ในขั้นตอนต่อไปคุณจะต้องพิมพ์ใบชำระเงินเพื่อนำไปชำระค่าสมัครที่ธนาคารไทยพาณิชย์
    เมื่อทางคณะได้รับข้อมูลการชำระเงินแล้ว การสมัครของคุณจึงจะสมบูรณ์
    <b>คุณจะต้องชำระเงินภายในวันที่ 15 ก.พ. 2555 เท่านั้น
    จึงจะมีสิทธิ์เข้ารับการคัดเลือกศึกษาต่อผ่านทางโครงการรับตรง</b>
  </p>
  {% include "application/include/ticket_printing.html" %}
</div>
<script type="text/javascript">
  $(function() {
    $("#head-announcement").fadeIn("slow");
  });
</script>
