<div class="light-frame">
<p>
  <b>ได้รับคัดเลือกแล้วทำอย่างไรต่อ?</b> สำหรับรายละเอียดภาพรวมของขั้นตอนการดำเนินการต่อไป <a target="_blank" href="http://admission.eng.ku.ac.th/2555/direct/how-to-accepted">สามารถอ่านรายละเอียดได้ที่นี่</a>
</p>

<p>
  ในขั้นตอนต่อไปให้คุณจะต้องยืนยันสิทธิ์โดยป้อนข้อมูลเพิ่มเติมเพื่อขอรับรหัสผ่านการเคลียริงเฮาส์ และแสดงความต้องการเข้าศึกษาต่อในสาขาดังกล่าวหรือสาขาอื่นที่สูงขึ้น

  <b>คุณจะต้องยืนยันสิทธิ์ภายในวันที่ {{ current_round.last_date|date:"d F" }} 2555 ไม่เช่นนั้นจะถือว่าคุณสละสิทธิ์</b>
</p>

<center>
  {% if is_confirmation_time_left %}
    <a href="{% url confirmation-app-index %}">
      <div class="button medium">
        เข้าสู่ระบบยืนยันสิทธิ์พร้อมทั้งเลือกสาขาที่ขอเข้ารับพิจารณา
      </div>
    </a>
  {% else %}
    <b>เวลายืนยันสิทธิ์ในรอบนี้หมดแล้ว</b>
  {% endif %}
</center>

</div>
