<p>
  สถานะของการสมัครและการดึงข้อมูลคะแนนสอบแสดงในตารางด้านล่าง<br/>
  <table id="doc-status-table">
    <tr>
      <th width="40%"></th>
      <th width="40%">สถานะ</th>
      <th>วันที่ได้รับข้อมูล</th>
    </tr>
    <tr>
      <td class="category">
	ค่าสมัคร
      </td>
      {% if submission_info.is_paid %}
        <td>ชำระแล้ว</td>
        <td>{{ submission_info.paid_at|date:"j N y" }}</td>
      {% else %}
        <td>ยังไม่ได้รับข้อมูลการชำระ</td>
        <td>ยังไม่ได้รับ</td>
      {% endif %}  
    </tr>
    <tr>
      <td class="category">
	การดึงคะแนนสอบจากสทศ.
      </td>
      {% if is_score_request_successful == None %}
        <td>อยู่ระหว่างดำเนินการ</td>
        <td>-</td>
      {% else %}
        {% if is_score_request_successful %}
          <td>สำเร็จ (ดูคะแนนด้านล่าง)</td>
        {% else %}
          <td>
	    <b style="color:red">มีปัญหาในการดึงคะแนนสอบ</b><br/>
	    กรุณาติดต่อโครงการรับตรงโดยด่วนที่สุด 
	    สามารถติดต่อได้ทางอีเมล์ admission.eng.ku@gmail.com 
	    หรือทางโทรศัพท์ 0-2579-2222
	  </td>
        {% endif %}	
	<td>{{ score_requested_at|date:"j N y" }}</td>
      {% endif %}
    </tr>
  </table>
  <small>หมายเหตุ: ธนาคารไทยพาณิชย์จะส่งข้อมูลการชำระเงินให้กับทางคณะเป็นวันต่อวัน เว้นวันหยุดธนาคาร ดังนั้นเมื่อชำระเงินแล้วสถานะการชำระเงินจะถูกปรับในวันถัดไปในช่วงก่อนเที่ยง</small>
</p>

{% comment %}
<ul>
  <li>
    ถ้าคุณชำระค่าสมัครเรียบร้อยภายในวันที่ 15 ธันวาคม 2553 คุณจะมีชื่อปรากฏในรายชื่อผู้มีสิทธิ์เข้ารับการคัดเลือก ซึ่งสามารถตรวจสอบได้ในวันที่ 22 ธันวาคม 2553  
  </li>
  <li>
    ผู้สมัครอาจจะชำระเงินภายในวันที่ 15 ธ.ค. แต่ทางเราได้รับข้อมูลวันที่ 16
    ระบบก็จะแสดงว่าได้รับข้อมูลในวันที่ 16 ด้วย อย่างไรก็ตาม ในกรณีดังกล่าว
    ผู้สมัครได้ดำเนินการสมัครสมบูรณ์ในเวลาแล้ว
  </li>
  <li>
    ภายในวันที่ 5 มกราคม 2553 ทางระบบจะแสดงข้อมูลคะแนนสอบที่ดึงจากทางสทศ. เพื่อให้ผู้สมัครได้ตรวจสอบต่อไป
  </li>
</ul>
{% endcomment %}
