{% extends "application/formbase.html" %}

{% block title %}Information Confirmation{% endblock %}

{% block form-body %}
<div class="app-form">
  {% load adm_steps %}{% step_bar "ยืนยันข้อมูลการสมัคร" %}
  <p>
    กรุณาตรวจสอบข้อมูลต่อไปนี้ให้ถูกต้อง ข้อมูลส่วนตัว ที่อยู่
    และข้อมูลการศึกษาจะไม่สามารถแก้ไขได้หลังจากกดยืนยันแล้ว <b>ส่วนลำดับการเลือก
    สามารถเปลี่ยนแปลงได้จนกว่าจะปิดรับสมัคร</b> เมื่อตรวจสอบเรียบร้อยแล้วให้กดยืนยัน
    ถ้าคุณไม่กดยืนยันด้านล่างข้อมูลจะไม่ถูกส่งให้กับทางคณะ 
  </p>
  <div id="applicant-info-confirmation" class="application-info">
    {% include "application/include/application_info.html" %}
  </div>

  <p>
    ถ้าข้อมูลถูกต้อง กรุณากดยืนยัน
    ถ้าไม่ถูกต้องสามารถเลือกย้อนกลับไปเพื่อแก้ไขได้&nbsp;&nbsp;&nbsp;
    <b>เมื่อยืนยันแล้วจะไม่สามารถกลับมาแก้ข้อมูลส่วนตัวและข้อมูลการศึกษาได้อีก
    อย่างไรก็ตามข้อมูลลำดับการเลือกสาขา สามารถแก้ไขได้จนกว่าจะหมดเขตรับสมัคร</b>
  </p>

  <form action="{% url apply-confirm %}" method="post">
    <div class="submission-bar">
      <div style="float: right">
	<input type="submit" name="submit" value="ยืนยัน"/>
	<input type="submit" name="cancel" value="กลับไปแก้ไข"/>
      </div>
      <b>ข้าพเจ้าได้ตรวจสอบข้อมูลว่าถูกต้องแล้ว</b>
      <br style="clear:both"/>
    </div>
  </form>
</div>
{% endblock %}
