{% extends 'application/formbase.html' %}

{% block title %}Supporting documents{% endblock %}

{% block extra-head %}
  <link rel="stylesheet" type="text/css" href="{% load adm_media %}{% media_url %}/css/front.css" />
  {{ block.super }}
{% endblock %}

{% block form-body %}
<div class="front-body">
  <div class="right-box">
    <div class="login-box">
      <center>
        {% if chosen %}
          ผู้สมัครได้เลือกวิธีการส่งแล้ว
        {% else %}
          {% if applicant.has_online_docs %}
	    <b>มีเอกสารบางส่วนแล้ว</b><br/>
   	    ผู้สมัครได้เลือกวิธีการส่งแบบออนไลน์ แต่ยังอัพโหลดเอกสารไม่ครบ
 	    หรือยังไม่ได้ส่งใบสมัคร<br/>
 	    ผู้สมัครสามารถเลือกการส่งแบบออนไลน์และอัพโหลดเอกสารให้ครบ
 	    หรือเปลี่ยนใจและเลือกที่จะส่งเอกสารด้วยตนเองหรือทางไปรษณีย์ก็ได้

          {% else %}
            เลือกวิธีการส่งเอกสาร
          {% endif %}
        {% endif %}
      </center>
      <a href="{% url upload-index %}">
	<div class="button">
	  ส่งเอกสารออนไลน์
	</div>
      </a>
      <br/>
      <a href="{% url apply-confirm %}">
	<div class="button">
	  ส่งเอกสารทางไปรษณีย์<br/>หรือส่งด้วยตนเอง
	</div>
      </a>
    </div>
  </div>

  <p>
    ผู้สมัครสามารถเลือกส่งเอกสารได้สองวิธี คือ
    <ol>
      <li>
	<b>ส่งเอกสารแบบออนไลน์</b> ผู้สมัครจะต้องสแกนหลักฐานต่าง ๆ
	เข้าเครื่องคอมพิวเตอร์จากนั้นจึงนำเข้ามายังระบบรับสมัครโดยการอัพโหลด
	ผู้สมัครสามารถทยอยอัพโหลดภายหลัง และส่งใบสมัครเมื่ออัพโหลดเอกสารได้ครบ
      </li>
      <li>
	<b>ส่งเอกสารทางไปรษณีย์หรือส่งด้วยตนเอง</b>
	ผู้สมัครส่งเอกสารทางไปรษณีย์ลงทะเบียนหรือนำมาส่งที่คณะวิศวกรรมศาสตร์ด้วยตนเอง
	ในการส่งผู้สมัครจะต้องพิมพ์ใบปะหน้าสำหรับส่งเอกสารแนบมากับหลักฐานที่ส่งด้วย<br/>
	ถ้ามีเหตุขัดข้องทำให้ผู้สมัครไม่สามารถพิมพ์ใบปะหน้าได้
	ให้ระบุชื่อและหมายเลขประจำตัวผู้สมัครที่แสดงในใบปะหน้าให้ชัดเจน
      </li>
    </ol>
  </p>

</div>
<br style="clear:both"/>
{% endblock %}
