{% extends "application/formbase.html" %}

{% block extra-head %}
{{ block.super }}
<script type="text/javascript" src="{% load adm_media %}{% media_url %}/js/major_selection.js"></script>
{% endblock %}

{% block title %}Choosing majors{% endblock %}

{% block form-body %}
  {% if errors %}
    <div class="doc-error">
      <b>เกิดข้อผิดพลาด</b> {% for e in errors %}{{ e }}{% endfor %}
    </div>
  {% endif %}

  <form action="{% url apply-majors %}" method="post">
    {% include "application/forms/major_ranks.html" %}
    <div class="submission-bar">
      <input type="submit" name="submit" value="เก็บข้อมูล"/>
      <input type="submit" name="cancel" value="ยกเลิก"/>
    </div>
  </form>
{% endblock %}
