{% load adm_media %}
{% load humanize %}
<div class="outside-frame">
  <div class="top-header">
    {{ rcpt }}
  </div>

  <div class="inside-box">
    <div class="top-right-box">
      สาขา/Branch........................... วันที่/Date..........................<br/>
      <div class="app-info-box">
	ชื่อ-นามสกุล {{ applicant.full_name }}<br/>
	เลขที่บัตรประชาชน/Customer No {{ applicant.national_id }}<br/>
	หมายเลขอ้างอิง (Ref2) {{ verification }}<br/>
      </div>
    </div>
    <div class="ku-eng-logo"><img src="{% media_url %}/image/payin/ku.png"/></div>
    <span class="ku-eng-title">
      คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน เพื่อเข้าบัญชี
      โครงการรับตรง คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์
    </span>
    <br style="clear: left"/>
    <div style="float: left; padding-right: 10px;">
      <img src="{% media_url %}/image/payin/scb.png"/>
    </div>
    <div style="float: left">
      ธนาคารไทยพาณิชย์ เลขที่บัญชี 235-3-00079-3 (มหาวิทยาลัยเกษตรศาสตร์ บางเขน)
      {% if msg %}
      <br/>เพื่อ{{ msg }}
      {% endif %}
    </div>
    <br style="clear: both"/>

    <div class="amount-container">
      <table>
	<tr>
	  <td>รับชำระด้วยเงินสดเท่านั้น</td>
	  <td class="withframe aright" width="25%">จำนวนเงิน/Amount</td>
	  <td class="withframe acenter" width="25%">{{ amount|intcomma }}</td>
	  <td class="withframe" width="10%">บาท/Baht</td>
	</tr>
	<tr>
	  <td class="withframe" width="40%">จำนวนเงินเป็นตัวอักษร/Amount in words</td>
	  <td colspan="3" class="withframe acenter amount-str">{{ amount_str }}</td>
	</tr>
      </table>
    </div>

    <div class="bottom-container">
      <div class="office-info">
	<table width="100%">
	  <tr><td class="acenter withframe">สำหรับเจ้าหน้าที่</td></tr>
	  <tr><td class="withframe">ผู้รับเงิน/ผู้รับมอบ</td></tr>
	</table>
      </div>
      ชื่อผู้นำฝาก/Deposit by.............................<br/>
      โทรศัพท์/Telephone................................
    </div>

    <br style="clear: both"/>
  </div>
</div>
