{% extends "base.html" %}
{% load adm_media %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% load adm_media %}{% static_url %}/css/payin.css" />
{% endblock %}

{% block body %}
{% comment %}
<div class="small-warning">
  {% include "application/status/include/confirmation_warning.html" %}
</div>
{% endcomment %}
<div class="payin-content">
  {% with "สำหรับผู้สมัคร" as rcpt %}
    {% include "application/payin/box.html" %}
  {% endwith %}
  {% if deadline %}
    <div style="float:right"><b>ชำระภายในวันที่ {{ deadline|date:"d F" }} 2555</b></div>
  {% endif %}
  <div id="cut-sept"></div>
  {% with "สำหรับธนาคาร" as rcpt %}
    {% include "application/payin/box.html" %}
  {% endwith %}
</div>
{% endblock %}
