{% extends "commons/base.html" %}

{% block title %}หมดเขตเลือกอันดับสาขาวิชาที่ต้องการยืนยันสิทธิ์และเข้ารับพิจารณา{% endblock %}

{% block body %}
<div id="step-bar">
  <ul>
    <li class="head">หมดเขตเลือกอันดับสาขาวิชาที่ต้องการยืนยันสิทธิ์และเข้ารับพิจารณา</li>
  </ul>
</div>

<p>
  ขณะนี้ระบบยืนยันอันดับการเลื่อนสาขาปิดให้บริการแล้ว
</p>
<p>
  เมื่อคณะได้ประมวลผลการเลื่อนสาขาเรียบร้อยแล้ว คณะจะประกาศผลให้ทราบตามกำหนดต่อไป
</p>

<p>
  กลับไปยังเว็บ <a href="http://admission.eng.ku.ac.th/">admission.eng.ku.ac.th</a>
</p>
{% endblock %}
