{% extends "commons/base.html" %}

{% load adm_info %}

{% block title %}ลำดับการเลือกสาขา{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% load adm_media %}{% media_url %}/css/front.css" />
<script type="text/javascript" src="{% media_url %}/js/jquery.js"></script>
{% endblock %}

{% block body %}
  {% load adm_steps %}{% step_bar "เลือกสาขาที่ต้องการได้รับการพิจารณาคัดเลือก และยืนยันสิทธิ์" %}

  <div class="light-frame">
    <b>ชื่อผู้สมัคร:</b> {{ applicant.full_name }} | <b>หมายเลขประจำตัวประชาชน:</b> {{ applicant.national_id }}<br/>
    <b>สาขาที่ได้รับการคัดเลือกในรอบที่ {{ current_round.number }}</b>: 
    {{ admission_result.admitted_major.number }}
    {{ admission_result.admitted_major.name }}
  </div>

  <form class="light-frame" action="" method="post">
    {% if form_check_message %}
      <div class="doc-error">
        <b>เกิดข้อผิดพลาด:</b> {{ form_check_message }}
      </div>
    {% endif %}
    {% if not higher_majors %}
      {% if not is_last_round %}
        <p>สำหรับการคัดเลือกในรอบที่ {{ current_round.number }} คุณได้รับคัดเลือกให้เข้าสัมภาษณ์ในสาขาที่คุณเลือกไว้ในอันดับที่สูงที่สุด ({{ admission_result.admitted_major.name }}) ดังนั้นคุณจะไม่สามารถขอเลื่อนสาขาวิชาได้</p>
      {% endif %}
    {% endif %}
    <p>
      กรุณาเลือกข้อที่คุณต้องการ<br/>
      <table class="header-left">
	<tr><td>
	    <input id="id_pref_type_no_move" type="radio" name="pref_type" value="no_move" {% if pref_type.is_no_move %}checked="checked"{% endif %}/>
	  </td>
	  <td>
	    ขอยืนยันสิทธิ์ในการเข้าศึกษาต่อในสาขา{{ admission_result.admitted_major.name }} {% if higher_majors %}โดย<b>ไม่ต้องการเข้ารับการพิจารณาเลื่อนอันดับไปในสาขาอื่น</b>{% endif %}
	</td></tr>

	{% if higher_majors and not is_last_round %}  <!--- SOME HIGHER MAJORS TO MOVE TO --->

	<tr><td>
	    <input id="id_pref_type_move_up_inclusive" type="radio" name="pref_type" value="move_up_inclusive" {% if pref_type.is_move_up_inclusive %}checked="checked"{% endif %}/>
	  </td>
	  <td>
	    ขอยืนยันสิทธิ์ในการเข้าศึกษาต่อในสาขา{{ admission_result.admitted_major.name }} เพื่อเข้ารับการพิจารณาเลื่อนสาขาไปอยู่ในอันดับที่ดีขึ้น แต่ถ้าไม่ได้รับการพิจารณาให้เลื่อนอันดับสาขาไปในอันดับที่ต้องการ ยังคงยืนยันขอใช้สิทธิ์เข้าศึกษาต่อในสาขา {{ admission_result.admitted_major.name }} ที่ได้รับการพิจารณาคัดเลือกไว้แล้ว
	</td></tr>
	<tr><td>
	  <input id="id_pref_type_move_up_strict" type="radio" name="pref_type" value="move_up_strict" {% if pref_type.is_move_up_strict %}checked="checked"{% endif %}/>
	  </td>
	  <td>
	    ขอยืนยันสิทธิ์ในการเข้าศึกษาต่อในสาขา{{ admission_result.admitted_major.name }} เพื่อเข้ารับการพิจารณาเลื่อนสาขาไปอยู่ในอันดับที่ดีขึ้น แต่ถ้า<b>ไม่ได้รับการพิจารณา</b>ให้เลื่อนอันดับสาขาไปในอันดับที่ต้องการ  ขอ<b>สละสิทธิ์</b>การเข้าศึกษาต่อที่คณะวิศวกรรมศาสตร์จากโครงการรับตรงนี้ (คณะจะไม่คืนเงินค่ายืนยันสิทธิ์ให้)
	</td></tr>

	{% endif %}

	<tr><td>
	    <input id="id_pref_type_withdrawn" type="radio" name="pref_type" value="withdrawn" {% if pref_type.is_withdrawn %}checked="checked"{% endif %}/>
	  </td>
	  <td>
	    <b>สละสิทธิ์</b>การเข้าศึกษาต่อที่คณะวิศวกรรมศาสตร์จากโครงการรับตรงนี้
	</td></tr>
      </table>
    </p>
    <div id="id_major_pref_form" style="background: #e0ffe0; padding: 5px; border: 1px solid green; margin-bottom: 5px;{% if pref_type.is_move_up_strict or pref_type.is_move_up_inclusive %}{% else %}display:none{% endif %}" >
      <p>
	โปรดเลือกสาขาที่คุณต้องการให้พิจารณาเลื่อนอันดับด้านล่าง โดยทำเครื่องหมายที่กล่องเลือกหน้าชื่อสาขา ผู้สมัครสามารถเลือกได้หลายอันดับ:<br/>
	{% for m, is_accepted in majors_with_is_accepted %}
          <input type="checkbox" name="major-accepted-{{ forloop.counter }}" {% if is_accepted %}checked="checked"{% endif %}/> อันดับที่ {{ forloop.counter }} - {{ m.name }}<br/>
	{% endfor %}
      </p>
    </div>

    <small>
      {% include "application/status/include/confirmation_warning.html" %}
    </small>
  
    <div class="submission-bar">
      <input type="submit" name="submit" value="เก็บข้อมูล"/>
      <input type="submit" name="cancel" value="ยกเลิก"/>
    </div>

  </form>
  
  <script type="text/javascript">
    function hide_major_form() { $("#id_major_pref_form").slideUp(); }
    function show_major_form() { $("#id_major_pref_form").slideDown(); }
    
    $(document).ready(function() {
      $("#id_pref_type_no_move").click(hide_major_form); 
      $("#id_pref_type_move_up_inclusive").click(show_major_form); 
      $("#id_pref_type_move_up_strict").click(show_major_form); 
      $("#id_pref_type_withdrawn").click(hide_major_form); 
    });
  </script>
{% endblock %}
