{% extends "base.html" %}

{% load adm_info %}

{% block title %}แบบฟอร์มขอยืนยันสิทธิ์{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="{% load adm_media %}{% media_url %}/css/front.css" />
{% endblock %}

{% block body %}
  <h1>โครงการรับตรง | ขอยืนยันสิทธิ์การเข้าศึกษาต่อ</h1>

  <div class="light-frame">
    <b>ชื่อผู้สมัคร:</b> {{ applicant.full_name }} | <b>หมายเลขประจำตัวผู้สมัคร:</b> {{ applicant.ticket_number }}<br/>
  </div>
  <div class="light-frame">
    ข้าพเจ้าขอยืนยันสิทธิ์การเข้าศึกษาต่อในคณะวิศวกรรมศาสตร์ ผ่านทางโครงการรับตรงประจำปีการศึกษา 2553<br/>
    <br/>
    <b>สาขาที่ได้รับคัดเลือกให้เข้าศึกษาต่อ:</b> {{ admission_result.final_admitted_major.name }} ({{ admission_result.final_admitted_major.number }})<br/>
    <br/>
    พร้อมกันนี้ ข้าพเจ้าได้แนบใบนำฝากค่าลงทะเบียนการศึกษาประจำภาคต้น ปีการศึกษา 2553 มาเพื่อเป็นการยืนยันด้วยแล้ว  และภายหลังการยืนยันนี้ข้าพเจ้ารับทราบว่าจะไม่มีสิทธิ์ในการสมัครเข้าศึกษาต่อผ่านทางระบบกลาง<br/>
    <br/>
    ลงชื่อ.................................................................ผู้สมัคร<br/>
    วันที่............................................................
  </div>
  <br/>
  <small>ให้พิมพ์แบบฟอร์มนี้แล้วลงชื่อ และนำมายื่นที่คณะวิศวกรรมศาสตร์พร้อมหลักฐานการนำฝาก ภายในวันที่ 15 ก.พ. 2553</small>
{% endblock %}
