{% extends "commons/base.html" %}

{% load adm_steps %}

{% block extra-head %}
<script type="text/javascript" src="{% load adm_media %}{% media_url %}/js/jquery.js"></script>
<script type="text/javascript" src="{% media_url %}/js/doc_submission.js"></script>
<link href="{% media_url %}/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="{% media_url %}/facebox/facebox.js" type="text/javascript"></script>
{% endblock %}

{% block title %}อัพโหลดหลักฐานเพิ่มเติม{% endblock %}

{% block body %}
  {% form_steps %}

  {% if missing_fields %}
    <div class="doc-error">
      <b>เกิดข้อผิดพลาด</b> เอกสารไม่ครบ เอกสารที่ขาดไปคือ
      {% for f in missing_fields %}
        {% if forloop.last and not forloop.first %}และ{% endif %}{{ f }}
      {% endfor %}
    </div>
  {% endif %}
  {% if uploaded_field_error %}
    <div class="doc-error">
      <b>เกิดข้อผิดพลาด</b> {{ uploaded_field_error }}
    </div>
  {% endif %}

  {% if notice %}
    <div class="notice-bar">
      <span class="notice">{{ notice }}</span>
    </div>
  {% endif %}

  <b>ขั้นตอนการอัพโหลดหลักฐาน:</b> <small>สแกนหรือถ่ายภาพเอกสาร
    โดยไม่จำเป็นต้องรับรองสำเนาถูกต้อง จากนั้นเลือก Upload เอกสารตามหัวข้อด้านล่าง
    ในการสแกนหรือถ่ายภาพจะต้องปรับแต่งแฟ้มภาพให้มีความละเอียดตามที่ระบบต้องการ
    สามารถตรวจสอบแฟ้มที่อัพโหลดไปได้ โดยกดที่รูปหรือลิงก์รูปแว่น <img height="10"
    width="10" src="{% media_url %}/image/Search.png"/> ข้างชื่อเอกสาร
    ระบบจะแสดงภาพตัวอย่าง
  <a id="upload-detail-link" href="#">กดที่นี่เพื่ออ่านรายละเอียด</a>
  </small>
  <div id="upload-detail-box" class="normal-msg" style="display:none">
    {% include "upload/include/upload_detail.html" %}
    [<a id="hide-upload-detail-link" href="#">ซ่อนส่วนนี้</a>]
  </div>
  <div class="doc-upload-forms">
    <h2>หลักฐานที่ไม่ผ่านการตรวจ</h2>
    กรุณาตรวจสอบข้อผิดพลาดแล้วอัพโหลดหลักฐานใหม่ เมื่ออัพโหลดครบแล้วให้กด 'ส่งหลักฐานใหม่' ด้านล่าง ถ้าไม่กดส่งหลักฐานใหม่ ระบบจะยังไม่ได้รับการแก้ไขนี้<br/>
    {% for name,form in field_forms.items %}
      {% with form as upload_field %}
        {% include "upload/include/field_form.html" %}
      {% endwith %}
    {% endfor %}
  </div>
  <div class="doc-upload-forms">
    <h2>หลักฐานที่ผ่านการตรวจแล้ว (ไม่ต้องอัพโหลดใหม่)</h2>
    หลักฐานที่ผ่านการตรวจแล้วมีดังต่อไปนี้: {{ passed_fields|join:", " }}
  </div>
  <form action="{% url upload-update %}" method="post">
    <div class="submission-bar">
      <input id="id_submit_button" type="submit" name="submit" value="ส่งหลักฐานใหม่"/>
    </div>
  </form>
<script type="text/javascript">
$(document).ready(function() {
  DocSubmission.progress_url = "{% url upload-progress %}";
  {% for f in field_forms.keys %}
    $('#upload-form-{{ f }}').submit(function() {
      return DocSubmission.handleFormSubmit(this,"{{ f }}");
    });
  {% endfor %}
  $("#upload-detail-link").click(function() {
    $("#upload-detail-link").html("กดที่นี่เพื่อเปิด/ปิดรายละเอียด");
    $("#upload-detail-box").slideToggle("fast");
    return false;
  });
  $("#hide-upload-detail-link").click(function() {
    $("#upload-detail-box").slideToggle("fast");
  });

  $.facebox.settings.loadingImage = "{% media_url %}/facebox/loading.gif";
  $.facebox.settings.closeImage = "{% media_url %}/facebox/closelabel.gif";
  $('a[rel*=facebox]').facebox()

  $(".notice-bar").animate({opacity:1.0}, 5000).fadeOut("slow");
  $("#id_submit_button").click(function() {
    return confirm("กรุณาตรวจสอบหลักฐานทุกชิ้นที่ได้อัพโหลดให้ถูกต้องก่อนกดยืนยัน\nถ้าคุณได้ตรวจสอบเรียบร้อยแล้วกด OK ถ้าต้องการกลับไปตรวจสอบต่อหรืออัพโหลดเพิ่มเติมกด Cancel");
  });
  $("#logout-link").click(function() {
    return confirm("หลักฐานที่คุณอัพโหลดเพิ่มเติมยังไม่ถูกยืนยัน\nถ้าคุณจะออกจากระบบตอนนี้ คุณจะต้องเข้ามาเพื่อยืนยันและส่งหลักฐานเพิ่มเติมอีกครั้ง\nถ้าคุณต้องการออกจากระบบโดยยังไม่ยืนยันการส่งหลักฐานใหม่ตอนนี้กด OK ถ้าต้องการแก้ไขเพิ่มเติมหรือต้องการยืนยันและส่งหลักฐานใหม่กด Cancel");
  });
});
</script>
{% endblock %}
