<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>{% block title %}{% endblock %} | โครงการรับตรง คณะวิศวกรรมศาสตร์ ม.เกษตรศาสตร์ บางเขน</title>
{% block extra-head %}
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% load adm_media %}{% media_url %}/css/base.css" />
<link rel="shortcut icon" href="{% media_url %}/image/favicon.ico" type="image/x-icon" />
</head>

<body>
<center>
  <b>ผู้สมัคร: {{ applicant.ticket_number}}  {{ applicant.full_name }}</b><br/>
  <img height="{{ height }}" width="{{ width }}" src="{% url review-doc-img-view applicant.id filename %}"/><br/>
  {% if zoomable %}<a target="_blank" href="{% url review-doc-img-view applicant.id filename %}">ดูภาพขนาดเต็ม</a>{% endif %}
</center>
</body>
</html>
