{% extends "review/base.html" %}

{% load adm_media %}

{% block extra-title-bar %}ขอรหัสผ่านสำหรับผู้สมัคร | {% endblock %}

{% block regis-body %}
  <div class="light-frame">
    <b>ผู้สมัคร:</b> {{ applicant.full_name }} | 
    <b>หมายเลขประจำตัว:</b> {{ applicant.ticket_number }}
  </div>

  <div class="light-frame">
    <center>
      รหัสผ่านสำหรับผู้สมัครที่ส่งใบสมัครและยื่นหลักฐานทางไปรษณีย์<br/>
      <br/>
      <b>{{ password }}</b><br/>
      <br/>
      ผู้สมัครสามารถเข้าสู่ระบบได้โดยใช้หมายเลขประจำตัวผู้สมัครและรหัสผ่านนี้
    </center>
  </div>
  <div class="light-frame">
    ข้อความสำหรับใส่ในอีเมล์ตอบ:
    <pre>
เรียนผู้สมัคร {{ applicant.full_name }}
หมายเลขประจำตัวผู้สมัคร: {{ applicant.ticket_number }}
วิธีการสมัคร: ส่งใบสมัครและยื่นหลักฐานทางไปรษณีย์

เราได้สร้างรหัสผ่านสำหรับผู้สมัครแล้ว ผู้สมัครสามารถเข้าสู่ระบบได้โดยป้อนหมายเลขประจำตัวผู้สมัครและรหัสผ่านด้านล่างนี้

หมายเลขประจำตัวผู้สมัคร: {{ applicant.ticket_number }}
รหัสผ่าน: {{ password }}

ถ้าพบปัญหาไม่สามารถเข้าระบบได้ สามารถติดต่อที่ {% load adm_info %}{% adm_admin_email %}
    </pre>
  </div>
{% endblock %}
