{% extends "review/base.html" %}

{% load adm_media %}

{% block extra-head %}
  {{ block.super }}
  <script type="text/javascript" src="{% load adm_media %}{% media_url %}/js/review.js"></script>
{% endblock %}

{% block extra-title-bar %}ค้นหาเพื่อตรวจสอบ | {% endblock %}

{% block regis-body %}
  <div class="search-form">
    <form action="{% url review-ticket %}" method="post">
      หมายเลข: {{ form.ticket_number }}{{ form.ticket_number.errors }} | 
      ชื่อ: {{ form.full_name }} |
      หมายเลขตรวจสอบ: {{ form.verification_number }}{{ form.verification_number.errors }} |
      <input type="submit" name="search-and-show" value="ค้นแล้วไปหน้าตรวจสอบ"/>
      <input type="submit" name="search" value="ค้นข้อมูล"/>
    </form>
  </div>

  {% if notice %}
    <div class="notice-bar">
      <span class="notice">{{ notice }}</span>
    </div>
  {% endif %}

  <table class="applicants">
    <tr>
      <th>เลขประจำตัว</th>
      <th>ชื่อ</th>
      <th>รหัสประชาชน</th>
      <th>เลขตรวจสอบ</th>
      <th>วันที่ส่งใบสมัคร</th>
      <th>ชำระเงิน</th>
      <th>วันที่ชำระเงิน</th>
      <th></th>
    </tr>
    {% for applicant, result in applicants_results %}
      <tr id="app-{{ applicant.id }}-row" class="{% cycle 'odd' 'even' %}">
	{% include "review/include/applicant.html" %}
      </tr>
    {% empty %}
      <tr><td colspan="7">ไม่พบผู้สมัคร</td></tr>
    {% endfor %}
  </table>

<script type="text/javascript">
  $(document).ready(function() {
    register_doc_recevied_toggle_click();
  });
</script>
{% endblock %}
