{% extends "application/registration/msg-base.html" %}

{% block title %}ขอรหัสผ่านใหม่: ล้มเหลว{% endblock %}

{% block msg-body %}
  <p>มีการขอรหัสผ่านใหม่ของบัญชีผู้ใช้ที่ใช้อีเมล์ {{ email }} บ่อยครั้งเกินไป</p>
  <p>กรุณารออีก 5 นาที หรือถ้าคุณขอรหัสผ่านมากกว่า 10 ครั้งในวันนี้
    กรุณาขอใหม่ในวันพรุ่งนี้ ถ้าคุณเป็นเจ้าของอีเมล์นี้ แต่ไม่ได้ขอรหัสผ่านใหม่
    อาจมีผู้ไม่ประสงค์ดีแอบอ้างใช้อีเมล์ของคุณ กรุณาแจ้งผู้ดูแลโดยสามารถแจ้งที่เว็บบอร์ด
    หรือส่งอีเมล์มาที่ {% load adm_info %}{% adm_admin_email_link %}
  </p>
{% endblock %}
