{% extends "application/status/base.html" %}

{% load adm_info %}

{% block body %}
  {% load adm_steps %}{% step_bar "ผลการคัดเลือก" %}

  <p>
    <b>ชื่อผู้สมัคร:</b> {{ applicant.full_name }} &nbsp;&nbsp;
    <b>หมายเลขประจำตัวประชาชน:</b> {{ applicant.national_id }}<br/>

    <hr/> 

    {% if clearing_result %}
      <h2>ขอแสดงความยินดีด้วย</h2>
      {% if admitted_major %}
        <b>คุณผ่านการคัดเลือกโครงการรับตรง ในสาขา {{ admitted_major }}</b>
      {% else %}
        <b>คุณผ่านการคัดเลือกโครงการโควตา {{ additional_result }}</b>
      {% endif %}
      และได้ยืนยันสิทธิ์ครบถ้วนแล้ว<br/>
      <br/>
      คณะวิศวกรรมศาสตร์จะส่งชื่อคุณเข้าระบบเคลียริงเฮาส์ โดยรหัสผ่านที่คุณจะใช้เข้าระบบเคลียริงเฮาส์คือ
      <h3>รหัสผ่านสำหรับระบบเคลียริงเฮาส์:  {{ clearing_result.password }}</h3>
      คำอ่านของรหัสผ่าน (เพื่อความชัดเจน): {{ password_read }}
      
      <div class="important-msg"> คณะวิศวกรรมศาสตร์
        มหาวิทยาลัยเกษตรศาสตร์
        จะส่งรหัสระบุตัวบุคคลเพื่อใช้ในการยืนยันสิทธิ์การเข้าศึกษาผ่านเว็บไซต์
        http://www.cuas.or.th ตั้งแต่ วันที่ 11 -17 มีนาคม 2555<br/>
        ผู้ผ่านการคัดเลือกที่ต้องการเข้าศึกษาต่อจะ<b>ต้องไปยืนยันสิทธิ์การเข้าศึกษาต่อผ่านระบบเคลียริงเฮาส์
          ภายในวันและเวลาดังกล่าว</b><br/>
          หากผู้ผ่านการคัดเลือกมีสิทธิ์เข้าศึกษาไม่ดำเนินการใดๆ
        จะถือว่าสละสิทธิ์การเข้าศึกษาในระบบรับตรงของมหาวิทยาลัย/สถาบัน/กลุ่มสถาบัน
        ที่เข้าร่วมในระบบเคลียริ่งเฮาส์ของปีการศึกษา 2555
      </div>

    {% else %}
      {% if admitted_previously %}
        คุณเคยผ่านการคัดเลือกโครงการรับตรงหรือโครงการโควตาในรอบก่อน ๆ แล้ว แต่ได้ขอสละสิทธิ์<br/>
      {% else %}
        {% if applicant.is_eligible %}
          คุณไม่ผ่านการคัดเลือกในโครงการรับตรง ประจำปีการศึกษา 2555<br/>
        {% else %}
          คุณไม่มีสิทธิ์เข้ารับการคัดเลือกในโครงการรับตรง <br/>
        {% endif %}
      {% endif %}
      คุณยังมีสิทธิ์เข้าศึกษาต่อที่คณะวิศวกรรมศาสตร์ ม.เกษตรศาสตร์ บางเขน ผ่านทางการแอดมิชชันกลาง <a href="http://admission.eng.ku.ac.th/2555/admission/central">อ่านกำหนดการและจำนวนการรับที่นี่</a>  (หมายเหตุ จำนวนรับของแอดมิชชันกลางอาจมีการปรับได้ กรุณาติดตามข้อมูล)
    {% endif %}
  </p>

  <hr/> 

  <p>
    ถ้ามีข้อขัดข้องหรือข้อผิดพลาดกรุณาแจ้งผู้ดูแลทางอีเมล์ {% load adm_info %}{% adm_admin_email_link %}
  </p>
  <br style="clear:both"/>
{% endblock %}
