{% extends "application/status/base.html" %}

{% block body %}
  {% load adm_steps %}{% form_steps %}
  <p>
    คุณได้ยื่นใบสมัครเรียบร้อย โดยเลือกส่งหลักฐานโดยการ{{ applicant.get_doc_submission_method_display }}
  </p>
  <div id="applicant-info" class="application-info">
    {% include "application/include/application_info.html" %}
  </div>

  <p>
    กลับไป<a href="{% url status-index %}">หน้าสถานะใบสมัคร</a><br/>
    ถ้ามีข้อขัดข้องหรือข้อผิดพลาดกรุณาแจ้งผู้ดูแลทางอีเมล์ 
    {% load adm_info %}{% adm_admin_email_link %}
  </p>
{% endblock %}
