{% extends "application/formbase.html" %}

{% block extra-head %}
{{ block.super }}
{% endblock %}

{% block title %}แก้ข้อมูลส่วนตัว{% endblock %}

{% block form-body %}
  {% load adm_steps %}
  {% step_bar "แก้ไขข้อมูลส่วนตัว" %}

  <form action="{% url update-personal-info %}" method="post">
    <div class="app-form">
      <table class="header-left">
	<tr>
	  <th>ชื่อ:</th>
	  <td>{{ form.title }} {{ form.first_name }} {{ form.last_name }}</td>
	  <td>{{ form.title.errors }}{{ form.first_name.errors }} {{ form.last_name.errors }}</td>
	</tr>
	<tr>
	  <th>วันเกิด:</th>
	  <td>{{ form.birth_date }} {{ form.birth_date.errors }} </td>
	</tr>
	<tr>
	  <th>สัญชาติ:</th>
	  <td>{{ form.nationality }} {{ form.nationality.errors }} </td>
	</tr>
	<tr>
	  <th>เชื้อชาติ:</th>
	  <td>{{ form.ethnicity }} {{ form.ethnicity.errors }} </td>
	</tr>
	<tr>
	  <th>โทรศัพท์:</th>
	  <td>{{ form.phone_number }} {{ form.phone_number.errors }}</td>
	</tr>
	<tr>
	  <td></td>
	  <td class="hint" colspan="2">ใส่ขีดได้ ตัวอย่างเช่น 08-1234-5678  ในการระบุหมายเลขภายใน ใช้ 'ต่อ' หรือ '#' เช่น 02-234-5442 ต่อ 1234 หรือ 023-456-7890 # 111</td>
	</tr>
      </table>
    </div>
    <div class="submission-bar">
      <input id="change-button" type="submit" name="submit" value="แก้ไขข้อมูลส่วนตัว"/>
      <input id="cancel-button" type="submit" name="cancel" value="ยกเลิก"/>
    </div>
  </form>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#change-button").click(function() {
        return confirm("คุณแน่ใจที่จะแก้ไขข้อมูลส่วนตัวหรือไม่?\nข้อมูลที่ป้อนเข้าไปใหม่นี้จะเข้าไปแทนข้อมูลเก่าทันที\nถ้าต้องการยืนยันกด OK ถ้าไม่ต้องการเปลี่ยนกด Cancel");
      });
      $("#cancel-button").click(function() {
        return confirm("คุณต้องการยกเลิกการแก้ไขนี้?\nถ้าต้องการยกเลิกกด OK ถ้าต้องการกลับไปแก้ไขต่อกด Cancel");
      });
    });
  </script>
{% endblock %}
