{% extends "application/formbase.html" %}

{% block extra-head %}
{{ block.super }}
<script type="text/javascript" src="{% load adm_media %}{% media_url %}/js/major_selection.js"></script>
{% endblock %}

{% block title %}วิธีการส่งหลักฐาน{% endblock %}

{% block form-body %}
  {% load adm_steps %}
  {% step_bar "เปลี่ยนวิธีการส่งหลักฐานเป็นแบบออนไลน์" %}

  <form action="{% url update-postal-sub %}" method="post">

    <h2>คุณแน่ใจหรือไม่?</h2>

    <p>
      การเปลี่ยนวิธีการส่งหลักฐานจะกระทำโดยการ<b>ยกเลิกการยืนยัน</b>การส่งข้อมูลพื้นฐานในใบสมัคร
      แล้วย้อนกลับไปหน้าสำหรับอัพโหลดหลักฐานแบบออนไลน์
    </p>
    <p>
      เนื่องจากข้อมูลต่าง ๆ ที่ผู้สมัครเคยป้อนไว้จะยังอยู่ในระบบ
      ผู้สมัครจะสามารถกลับไปแก้ข้อมูลต่าง ๆ ได้ 
    </p>
    <p>
      อย่างไรก็ตาม
      กระบวนการดังกล่าวจะทำให้ผู้สมัครเปลี่ยนสถานะกลับไปเป็น<b>ผู้สมัครที่ยังไม่ได้ยื่นใบสมัคร</b>
      และทำให้หมายเลขประจำตัวผู้สมัครหมายเลขเดิมที่ผู้สมัครเคยได้รับถูกยกเลิก
      ผู้สมัครจะได้รับหมายเลขประจำตัวใหม่อีกครั้งเมื่อยื่นหลักฐานครบและได้ยืนยันหลักฐานอีกครั้ง
    </p>
    <p>
      เมื่อการเปลี่ยนแปลงเรียบร้อย คุณจะได้รับเมล์จากระบบเพื่อแจ้งการเปลี่ยนแปลงนี้
    </p>
    <h3>เมื่อคุณเลือกเปลี่ยนวิธีการส่งแล้ว
    อย่าลืมว่าคุณจะต้องกลับไปยืนยันเอกสารและส่งใบสมัครอีกครั้ง</h3>

    <div class="submission-bar">
      <div style="float:right">
	<input id="change-button" type="submit" name="submit" value="เปลี่ยนวิธีการส่งหลักฐานเป็นแบบออนไลน์"/>
	<input id="cancel-button" type="submit" name="cancel" value="เลือกส่งทางไปรษณีย์ตามเดิม"/>
      </div>
      <b>แน่นอน! ข้าพเจ้าเข้าใจแล้ว</b>
      <br style="clear:both"/>
    </div>
  </form>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#change-button").click(function() {
        return confirm("คุณแน่ใจที่จะเปลี่ยนวิธีการส่งหลักฐานเป็นแบบออนไลน์ใช่หรือไม่?\nถ้าต้องการยืนยันกด OK ถ้าไม่ต้องการเปลี่ยนกด Cancel");
      });
    });
  </script>
{% endblock %}
