<p>
  <h2>ขั้นตอนการสมัคร</h2>
  <small>
    <ul>
      <li>
	ผู้สมัครจะต้องลงทะเบียนเข้าใช้ระบบเพื่อรับรหัสผ่านทางอีเมล์ เพื่อเข้าใช้ระบบ
	จากนั้นผู้สมัครจะต้องป้อนข้อมูลในใบสมัครจนครบถ้วน ซึ่งข้อมูลเหล่านี้จะรวมถึงที่อยู่
	ผลการเรียนและลำดับสาขาวิชา
      </li>
      <li>
	การกรอกใบสมัครไม่จำเป็นต้องกรอกให้เสร็จในครั้งเดียว
	สามารถทยอยกรอกได้
      </li>
      <li>
	ในการคำนวณคะแนนมาตรฐาน ระบบจะเลือกคะแนนสอบ GAT/PAT
	ในครั้งที่ทำให้ได้คะแนนสูงสุดโดยอัตโนมัติ
      </li>
      <li>
	อย่างไรก็ตาม ในการใช้ระบบนี้ อีเมล์และรหัสประจำตัวประชาชน
	จะเป็นเครื่องมือหลักในการยืนยันตัวของผู้สมัคร
	ดังนั้นจึงควรรักษารหัสผ่านอีเมล์ของตนอย่างดี
      </li>
    </ul>
  </small>
  <h2>กำหนดการรับสมัคร</h2>
  <table class="schedule">
    <tr>
      <td class="date">
	16 พ.ย. 53 - 15 ธ.ค. 53
      </td>
      <td>
	รับสมัครผ่านเว็บไซต์
      </td>
    </tr>
    <tr>
      <td class="date">
	22 ธ.ค. 53
      </td>
      <td>ประกาศรายชื่อผู้มีสิทธิเข้ารับการคัดเลือก</td>
    </tr>
    <tr>
      <td class="date">
	22 - 24 ธ.ค. 53
      </td>
      <td>
	ผู้สมัครที่ไม่มีรายชื่อแจ้งปัญหารายชื่อตกหล่น
      </td>
    </tr>
    <tr>
      <td class="date">
	31 ธ.ค. 53
      </td>
      <td>
	วันสุดท้ายของการแก้ข้อมูลอันดับสาขาวิชา
      </td>
    </tr>
    <tr>
      <td class="date">
	5 ม.ค. 54
      </td>
      <td>
	ประกาศคะแนนผู้สมัคร
      </td>
    </tr>
    <tr>
      <td class="date">
	5 - 7 ม.ค. 54
      </td>
      <td>
	ผู้สมัครที่มีคะแนนไม่ตรงกับที่ประกาศแจ้งปัญหาคะแนนของผู้สมัคร
      </td>
    </tr>
    <tr>
      <td class="date">
	19 ม.ค. 54
      </td>
      <td>ประกาศรายชื่อผู้มีสิทธิ์ได้รับคัดเลือกให้เข้าศึกษารอบที่ 1</td>
    </tr>
    <tr>
      <td class="date">
	19 ม.ค. 54 - 24 ม.ค. 54
      </td>
      <td>ผู้มีสิทธิ์เข้าศึกษารอบที่ 1 ยืนยันสิทธิ์</td>
    </tr>
    <tr>
      <td class="date">
	26 ม.ค. 54
      </td>
      <td>
	ประกาศรายชื่อผู้มีสิทธิ์ได้รับคัดเลือกให้เข้าศึกษารอบที่ 2<br/>
	(สำหรับผู้ที่ยังอยู่ในระบบและมิได้สละสิทธิ์ในรอบที่ 1)
      </td>
    </tr>
    <tr>
      <td class="date">
	26 ม.ค. 54 - 31 ม.ค. 54
      </td>
      <td>ผู้มีสิทธิ์เข้าศึกษารอบที่ 2 ยืนยันสิทธิ์</td>
    </tr>
    <tr>
      <td class="date">
	2 ก.พ. 54
      </td>
      <td>
	ประกาศรายชื่อผู้มีสิทธิ์ได้รับคัดเลือกให้เข้าศึกษารอบที่ 3<br/>
	(สำหรับผู้ที่ยังอยู่ในระบบและมิได้สละสิทธิ์ในรอบที่ 2)
      </td>
    </tr>
    <tr>
      <td class="date">
	2 ก.พ. 54 - 7 ก.พ. 54
      </td>
      <td>ผู้มีสิทธิ์เข้าศึกษารอบที่ 3 ยืนยันสิทธิ์</td>
    </tr>
    <tr>
      <td class="date">
	9 ก.พ. 54
      </td>
      <td>
	ประกาศรายชื่อผู้มีสิทธิ์ได้รับคัดเลือกให้เข้าศึกษารอบที่ 4<br/>
	(สำหรับผู้ที่ยังอยู่ในระบบและมิได้สละสิทธิ์ในรอบที่ 3)
      </td>
    </tr>
    <tr>
      <td class="date">
	9 ก.พ. 54 - 14 ก.พ. 54
      </td>
      <td>ผู้มีสิทธิ์เข้าศึกษารอบที่ 4 ยืนยันสิทธิ์</td>
    </tr>
    <tr>
      <td class="date">
	20 ก.พ. 54
      </td>
      <td>ประกาศรายชื่อผู้มีสิทธิ์เข้าศึกษาทั้งหมด</td>
    </tr>
  </table>
  
  <br/>
  อ่าน<a href="http://admission.eng.ku.ac.th/information/2554/direct">ข้อมูลเพิ่มเติมเกี่ยวกับการรับตรงปีการศึกษา 2554</a>
</p>
