<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="" >
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>เกิดข้อผิดพลาด | Direct Admissions, Engineering, KU</title>

<script type="text/javascript" src="{% load adm_media %}{% media_url %}/js/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="{% media_url %}/css/base.css" />
</head>

</head><body>
  
<h1>การสมัครเข้าศึกษาต่อคณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน</h1>

  
  <div class="main">
    

    <div class="form-body">
      
  <div id="step-bar">
  <ul>
    <li class="head">เกิดข้อผิดพลาด</li>
  </ul>
  
</div>

  <p>
    เกิดข้อผิดพลาดขึ้นระหว่างระบบทำงาน อย่างไรก็ตาม ระบบได้แจ้งกับผู้ดูแลระบบแล้ว
    คาดว่าปัญหาจะได้รับการแก้ไขเร็ว ๆ นี้
  </p>
  
  
  <div id="footer">
    โครงการรับตรง คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน. 
    50 พหลโยธิน ลาดยาว จตุจักร กรุงเทพ 10900.  โทร (02) 942-8555<br>
    Icon set from <a href="http://www.webappers.com/2008/02/12/webappers-released-free-web-application-icons-set/">http://www.webappers.com</a>.
  </div>

</body></html>
