{% extends "application/registration/msg-base.html" %}

{% block title %}ลงทะเบียนเพื่อเข้าใช้ระบบ: สำเร็จแต่ต้องยืนยัน{% endblock %}

{% block msg-body %}
  <p>
    มีการลงทะเบียนด้วยอีเมล์ {{ email }} หลายครั้ง ดังนี้<br/>
    <ul>
      {% for registration in old_registrations %}
        <li>เมื่อ {{ registration.registered_at|timesince }} ก่อนหน้า</li>
      {% endfor %}
    </ul>
    ดังนั้นเพื่อความปลอยภัยของท่านและเพื่อยืนยันตัวตนที่แท้จริง
    เราจึงได้ส่งลิงก์เพื่อยืนยันตัวตนกลับไปยังอีเมล์ดังกล่าว
    กรุณาตรวจสอบอีเมล์และกดลิงก์ดังกล่าวด้วย
  </p>
  {{ block.super }}
{% endblock %}
