{% extends "application/formbase.html" %}


{% block form-body %} 
  {% if step_name %}
    {% load adm_steps %}{% step_bar step_name %}
    <br/>
  {% endif %}
  <div class="normal-msg">
    {% block msg-body %}{% endblock %}
  </div>
  {% if not no_first_page_link %}
    <p>
      กลับไป<a href="{% url apply-start %}">หน้าแรกเพื่อเข้าใช้ระบบ</a></p>
    </p>
  {% endif %}
  <p>
    ถ้าพบปัญหาในการลงทะเบียนเช่นมีการลงทะเบียนซ้ำ มีการใช้อีเมล์ของคุณในการลงทะเบียน
    กรุณาแจ้งผู้ดูแลระบบ ที่
    {% load adm_info %}{% adm_admin_email_link %}
  </p>
{% endblock %}
