{% extends "application/status/base.html" %}

{% block body %}
  {% load adm_steps %}{% form_steps %}

  <p>
    <div class="normal-msg">
      คุณได้ส่งข้อมูลพื้นฐานในการสมัครให้กับทางคณะ
      เนื่องจากคุณเลือกส่งหลักฐานทางไปรษณีย์
      <b>การสมัครของคุณยังไม่เรียบร้อยจนกว่าทางคณะจะได้รับเอกสารแล้ว</b><br/>
      ในการส่งหลักฐานให้พิมพ์ใบนำส่งด้านล่าง แนบมากับหลักฐานเพื่อใช้อ้างอิงด้วย
      ไม่ต้องพิมพ์ใบสมัครส่งมาด้วย
    </div>
  </p>
  <br/>

  {% include "application/include/ticket.html" %}

{% endblock %}
