{% extends "application/formbase.html" %}

{% block title %}Choosing majors{% endblock %}

{% block form-body %}
  {% if errors %}
    <div class="doc-error">
      <b>เกิดข้อผิดพลาด</b> {% for e in errors %}{{ e }}{% endfor %}
    </div>
  {% endif %}

  <form action="{% url apply-majors %}" method="post">
    <b>เลือกอันดับสาขาที่ต้องการ</b> คุณสามารถเลือกสาขาที่ต้องการได้ 1 สาขาจากรายการด้านล่าง
    {% if training_round == 2 %}
      รายการสาขาวิชาจะแสดงเฉพาะสาขาจากโควตา สอวน. เพราะคุณได้ระบุว่าคุณผ่านเข้าค่าย 2 ของการอบรมสอวน. ถ้าคุณได้เข้าค่ายอบรมระดับประเทศและมีความประสงค์จะสมัครโควตา สสวท. กรุณากลับไป<a href="{% url apply-edu %}">แก้ไขข้อมูลการศึกษา</a>
    {% else %}
      เนื่องจากคุณผ่านเข้าค่าย 3 (ค่ายอบรมระดับประเทศที่สสวท.) คุณจึงมีสิทธิ์สมัครทั้งโควตาสอวน. และโควตา สสวท.  รายการสาขาวิชาด้านล่างจะแสดงทั้งสาขาจากโควตา สอวน. และโควตา สสวท. กรุณาเลือกโครงการและสาขาที่คุณต้องการสมัคร
    {% endif %}<br/>
    <b>ประเภทหลักสูตร</b> หลักสูตรที่เปิดรับมี 3 ประเภท คือหลักสูตรภาคปกติ หลักสูตรภาคพิเศษ และหลักสูตรนานาชาติ
    <table>
      <tr>
        <th>หลักสูตร:</th>
        <td>
          <select id="curtype_id">
            <option value="10">แสดงหลักสูตรทุกประเภท</option>
            <option value="0">แสดงเฉพาะหลักสูตรภาคปกติ</option>
            <option value="1">แสดงเฉพาะหลักสูตรภาคพิเศษ</option>
            <option value="2">แสดงเฉพาะหลักสูตรนานาชาติ</option>
          </select>
        </td>
      </tr>
      {{ form }}
    </table>
    <br/>
    <div class="submission-bar">
      <input type="submit" name="submit" value="เก็บข้อมูล"/>
      <input type="submit" name="cancel" value="ยกเลิก"/>
    </div>
  </form>
  <script type="text/javascript">
    var all_options = [
      {% for m in majors %}
        [{{ m.id }},"{{ m }}"]{% if not forloop.last %},{% endif %}
      {% endfor %}
    ];
    var update_major_options = function() {
      var ctype_choice = $("#curtype_id").val();
      var curval = $("#id_major").val();

      $("#id_major option").each(function(i) {
        var e = $(this);
        if(e.val()!='') {
          //alert(e);
          $(this).remove();
        }
      });

      //alert("hello");
      jQuery.each(all_options, function(i,o) {
        oi = o[0];
        ov = o[1];
        if((ctype_choice=='10') || (ov[1]==ctype_choice)) {
          $("#id_major").append('<option value="' + oi + '">' + ov + '</option>');
          if(oi==curval)
            $("#id_major").val(curval);
        }
      });
    };

    $(document).ready(function() {
      update_major_options();
      $("#curtype_id").change(update_major_options);
    });
  </script>
{% endblock %}
