{% extends "application/formbase.html" %}

{% block title %}Choosing majors{% endblock %}

{% block form-body %}
  {% if errors %}
    <div class="doc-error">
      <b>เกิดข้อผิดพลาด</b> {% for e in errors %}{{ e }}{% endfor %}
    </div>
  {% endif %}

  <form action="{% url apply-majors %}" method="post">
    {% if not hide_description %}
      <p>
	<b>เลือกอันดับสาขาที่ต้องการ</b> สามารถเลือกอันดับสาขาวิชาได้ {{ max_major_rank }} อันดับ   อันดับที่น้อยกว่าแสดงความประสงค์เข้าเรียนมากกว่า อันดับที่ 1 แสดงว่าต้องการสาขานั้นมากที่สุด
	ผู้สมัครไม่จำเป็นต้องเลือกให้ครบ {{ max_major_rank }} อันดับ แต่ต้องเลือกอย่างน้อยหนึ่งอันดับ
	ถ้าเลือกอันดับไม่ต่อกัน เช่น เลือกข้ามลำดับที่ 2 เมื่อเก็บเข้าในระบบ
	ระบบจะปรับลำดับให้ต่อเนื่องกันและเริ่มต้นจากอันดับที่ 1 เสมอ
      </p>
    {% endif %}

    <table>
      {% for selection in selections %}
      <tr>
        <td>อันดับที่ {{ selection.number }}</td>
        <td>
	  {% include "application/include/rank_major_select.html" %}
	</td>
      </tr>
    {% endfor %}
    </table>
    <br/>
    <div class="submission-bar">
      <input type="submit" name="submit" value="เก็บข้อมูล"/>
      <input type="submit" name="cancel" value="ยกเลิก"/>
    </div>
  </form>
  <script>
    $(document).ready(function() {
      {% for s in selections %}
        $("#major-{{ s.number }}-select").data('rank',{{ s.number }});
      {% endfor %}
      $("select").change(function() {
        var myid = this.id;
        var mychoice = $(this).val();
        if(mychoice != "0") {
          $("select").each(function(i) {
            if((this.id != myid) && ($(this).val() == mychoice))
              $(this).val("0");
          });
        }
      });
    });
  </script>
{% endblock %}
