

<div id="application-conditions">
  <h3>ข้าพเจ้ารับทราบเงื่อนไข ดังนี้</h3>
  <ul>
    <li>
      ผู้สมัครที่ได้รับการคัดเลือกเข้าศึกษาในคณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์
      วิทยาเขตบางเขน ตามโครงการนี้
      จะต้องชำระเงินค่าธรรมเนียมลงทะเบียนเรียนในภาคการศึกษาที่ 1 เป็นจำนวนเงิน
      36,700 บาท
      โดยให้นำใบนำฝากเงินมาแสดงด้วยตนเองภายในวันที่กำหนดระหว่างเวลา 11.00 -
      12.00 น.
    </li>
    <li>
      คณะวิศวกรรมศาสตร์จะไม่คืนเงินค่าธรรมเนียมหากผู้ที่ได้รับการคัดเลือกเข้าศึกษา
      สละสิทธิ์ในภายหลัง
    </li>
    <li>
      คณะวิศวกรรมศาสตร์ขอสงวนสิทธิ์ในกรณีที่อาจจะรับเข้าไม่เต็มจํานวนที่กำหนด
    </li>
  </ul>
  ข้าพเจ้ารับรองว่าข้อความที่ปรากฏในใบสมัครเป็นความจริงทุกประการ

  หากมีการตรวจสอบพบว่าผู้ที่ผ่านการคัดเลือกและมีสิทธิ์เข้าศึกษาในโครงการกรอกข้อความในใบสมัคร
  หรือ ส่งเอกสารที่ใช้ในการสมัคร
  อย่างใดอย่างหนึ่งไม่เป็นความจริงหรือมีการปลอมแปลงเอกสาร หรือ มีคุณสมบัติไม่เป็นไปตาม
  เกณฑ์ที่กําหนดในประกาศรับสมัคร
  คณะวิศวกรรมศาสตร์จะเสนอให้มหาวิทยาลัยดําเนินการคัดชื่อออกจากสถานภาพการเป็นนิสิตทันที
</div>
